.myForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.form-btn{
    text-align: center;
}
.form-btn button{
    margin: 0;
    background-color: rgb(140, 61, 61);
    border-radius: 30px;
    font: inherit;
    font-weight: bold;
    width: 90px;
    height: 35px;
    color: antiquewhite;
    cursor: pointer;
}
.form-btn button:active {
    background-color: #641e03;
    border-color: #641e03;
  }